<!DOCTYPE html>
<html th:include="layout/base :: page">
    <title th:fragment="title">Persona</title>
    <link rel="stylesheet" href="/css/person.css" type="text/css" th:fragment="css" />
    <script type="text/javascript" src="/javascript/person.js" th:fragment="javascript"></script>
    <div th:fragment="content">
        <iframe id="upload_picture_iframe" name="upload_picture_iframe" th:src="'/person/'+${person['id']}+'/upload-picture'"></iframe>
        <div id="wrapper_remove_person_window" class="wrapper_fadein_window">
            <article class="fadein_window">
                <button class="close" title="cerrar"></button>
                <h1>¿Seguro que quieres eliminar a esta persona?</h1>
                <button id="remove_yes" class="button">Sí</button>
                <button id="remove_no" class="button">No</button>
            </article>
            <div class="disable_window_background"></div>
        </div>
        <button class="button hide" id="save_edit_button">Guardar</button>
        <button class="button hide" id="cancel_edit_button">Cancelar</button>
        <button class="button display_window" id="remove_person_button" data-window="wrapper_remove_person_window">Eliminar</button>
        <button class="button" id="edit_person_button">Editar</button>
        <h1 class="title"><span class="field_name edit_field" th:text="${person['name']}" /> <span class="field_surname edit_field" th:text="${person['surname']}" /></h1>
        <img width="200px" height="200px" th:class="${person['picture'] == '1'} ? 'normal' : 'hide'" th:src="'/pictures/person/'+${person['id']}+'/big.jpg'" th:alt="'Foto: '+${person['name']}+' '+${person['surname']}" id="picture" />
        <form th:action="'/person/'+${person['id']}+'/upload-picture'" method="post" enctype="multipart/form-data" id="upload_picture_form" target="upload_picture_iframe">
            <input type="file" id="upload_picture" name="upload_picture" />
        </form>
        <button id="remove_picture" class="remove_button">Borrar</button>
        <table id="data">
            <tbody>
                <tr>
                    <th>Año:</th>
                    <td class="field_birthday edit_field" th:text="${person['birthday']}" />
                </tr>
                <tr>
                    <th>País:</th>
                    <td id="field_country">
                        <span th:text="${person['country_name']}" th:attr="data-country_id=${person['country_id']}" />
                        <select class="hide" name="contries">
                            <option th:each="country : ${countries}" th:value="${country['id']}" th:text="${country['name']}" />
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="person_role">
            <fieldset>
                <input type="checkbox" id="actor_role" th:checked="${person['actor_id']} != null" />
                <label for="actor_role">Actor</label>
            </fieldset>
            <fieldset>
                <input type="checkbox" id="director_role" th:checked="${person['director_id']} != null" />
                <label for="director_role">Director</label>
            </fieldset>
        </div>
        <ul id="tabs">
            <li th:class="${person['director_id'] != null} ? 'normal' : 'hide'"><a href="#directors">Dirección</a></li>
            <li th:class="${person['actor_id'] != null} ? 'normal' : 'hide'"><a href="#cast">Interpretación</a></li>
        </ul>
        <article th:class="${person['director_id'] != null} ? 'normal movie_section' : 'hide movie_section'" id="directors">
            <table id="director_movie_table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="field_picture"></th>
                        <th>Título</th>
                        <th>País</th>
                        <th class="field_year">Año</th>
                        <th class="field_score">Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movie : ${directorMovies}" th:attr="data-movie_id=${movie['id']}">
                        <td class="button_container"><a class="show" th:href="@{|/movies/${movie['id']}|}" /></td>
                        <td class="field_picture"><img th:class="${movie['picture'] == '1'} ? 'normal' : 'hide'" th:src="'/pictures/movie/'+${movie['id']}+'/tiny.jpg'" th:alt="'Foto: '+${movie['title']}" /></td>
                        <td th:text="${movie['title']}" />
                        <td th:text="${movie['country_name']}" />
                        <td th:text="${movie['year']}"  class="field_year" />
                        <td th:text="${movie['score']}"  class="field_score" />
                    </tr>
                </tbody>
                <tfoot class="hide">
                    <tr th:each="movie : ${movies}">
                        <td class="button_container"><a class="show" th:href="@{|/movies/${movie['id']}|}" /></td>
                        <td class="field_picture"><img th:class="${movie['picture'] == '1'} ? 'normal' : 'hide'" th:src="'/pictures/movie/'+${movie['id']}+'/tiny.jpg'" th:alt="'Foto: '+${movie['title']}" /></td>
                        <td>
                            <input type="checkbox" th:value="${movie['id']}" />
                            <span th:text="${movie['title']}" />
                        </td>
                        <td th:text="${movie['country_name']}" />
                        <td th:text="${movie['year']}"  class="field_year" />
                        <td th:text="${movie['score']}"  class="field_score" />
                    </tr>
                </tfoot>
            </table>
        </article>
        <article th:class="${person['actor_id'] != null} ? 'normal movie_section' : 'hide movie_section'" id="cast">
            <table id="actor_movie_table" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="field_picture"></th>
                        <th>Título</th>
                        <th>País</th>
                        <th class="field_year">Año</th>
                        <th class="field_score">Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movie : ${actorMovies}">
                        <td class="button_container"><a class="show" th:href="@{|/movies/${movie['id']}|}" /></td>
                        <td class="field_picture"><img th:class="${movie['picture'] == '1'} ? 'normal' : 'hide'" th:src="'/pictures/movie/'+${movie['id']}+'/tiny.jpg'" th:alt="'Foto: '+${movie['title']}" /></td>
                        <td th:text="${movie['title']}" />
                        <td th:text="${movie['country_name']}" />
                        <td th:text="${movie['year']}"  class="field_year" />
                        <td th:text="${movie['score']}"  class="field_score" />
                    </tr>
                </tbody>
                <tfoot class="hide">
                    <tr th:each="movie : ${movies}">
                        <td class="button_container"><a class="show" th:href="@{|/movies/${movie['id']}|}" /></td>
                        <td class="field_picture"><img th:class="${movie['picture'] == '1'} ? 'normal' : 'hide'" th:src="'/pictures/movie/'+${movie['id']}+'/tiny.jpg'" th:alt="'Foto: '+${movie['title']}" /></td>
                        <td>
                            <input type="checkbox" th:value="${movie['id']}" />
                            <span th:text="${movie['title']}" />
                        </td>
                        <td th:text="${movie['country_name']}" />
                        <td th:text="${movie['year']}"  class="field_year" />
                        <td th:text="${movie['score']}"  class="field_score" />
                    </tr>
                </tfoot>
            </table>
        </article>
    </div>
</html>